@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

h1 h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
h3 {
  font-family: "PT Sans", sans-serif;
}

body {
  font-family: "PT Sans", sans-serif;
}

.logo {
  font-family: "Roboto Slab", serif;
}
.pt_sans {
  font-family: "PT Sans", sans-serif;
}
